/* add your styles here */



#TitleText{
    text-align: center;
  }
  
  
  #image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
  }
  
  #image-container {
    flex: 1 0 calc(50% - 10px); 
    margin-bottom: 10px; 
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  